boto==2.49.0
boto3==1.22.0
botocore==1.25.0
bpyutils==0.4.0
bz2file==0.98
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.2
dnspython==2.2.1
docutils==0.18.1
gensim==4.1.2
idna==3.3
jmespath==1.0.0
joblib==1.1.0
nltk==3.7
numpy==1.22.3
pipupgrade==1.12.0
pymongo==4.1.1
python-dateutil==2.8.2
regex==2022.4.24
requests==2.27.1
s3transfer==0.5.2
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
sklearn==0.0
smart-open==6.0.0
threadpoolctl==3.1.0
tqdm==4.64.0
urllib3==1.26.9
